/********************
|| General Styles
*********************/
html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;

  /* CSS Varialbes */
  --text: hsla(0, 5%, 25%, 0.7);
  --button-borders: hsla(0, 1%, 20%, 0.6);
  --button-background: hsla(0, 0%, 97%, 1.0);
  --button-background-hover: hsla(0, 0%, 100%, 1.0);
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.menu {
  /* Display & Box Model */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.menuBar {
  width: 375px;
  /* Other */
  font-size: 1.5rem;
}

.menuBar ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.menuBar li {
  /* Display & Box Model */
  border: 1px solid var(--button-borders);

  /* Other */
  background: var(--button-background);
  color: var(--text);
  text-align: center;
}

.menuBar i {
  padding: 2rem;
}

span {
  margin-top: .5rem;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 0;
  display: none;

  transition: opacity 2000ms linear;
}

/********************
|| Hover Styles
*********************/
.menuBar li:hover {
  color: hsla(0, 0%, 0%, 1.0);
}

.menuBar li:hover span {
  opacity: 1.0;
  display: block;
}

.menuBar li:hover i {
  padding-top: 1rem;
  padding-bottom: 0;
}

.menuBar li:hover {
  background: var(--button-background-hover);
}

/* use an approach of padding-top (look at your codepen) */

/********************
|| Utilities
*********************/
.noBullets {
  list-style-type: none;
}

.troubleshooting {
  outline: 1px solid red;
}
