/********************
|| General Styles
*********************/
html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;

  /* CSS Varialbes */
  --text: hsla(0, 5%, 25%, 0.7);
  --button-borders: hsla(0, 1%, 20%, 0.6);
  --button-background: hsla(0, 0%, 97%, 1.0);
  --button-background-hover: hsla(0, 0%, 100%, 1.0);
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.menu {
  /* Display & Box Model */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.menuBar {
  width: 375px;
  /* Other */
  font-size: 1.5rem;
}

.menuBar ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.menuBar li {
  /* Display & Box Model */
  position: relative;
  border: 1px solid var(--button-borders);

  /* Other */
  background: var(--button-background);
  color: var(--text);
  text-align: center;
  overflow: hidden;
}

.menuBar i {
  /* outline: 1px solid red; */
  display: block;
  margin: 1.8rem 0;
}

span {
  display: block;
  position: absolute;
  bottom: -1rem;
  right: 10px;
  left: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 0;

  /* THIS IS GREAT!!!!!!!!!!!!!!!! */
  pointer-events: none;

  transition: opacity 100ms ease,
              right 80ms ease,
              left 80ms ease,
              bottom 80ms ease;
}

li:first-child span {
  left: 0;
  right: 1rem;
}

li:last-child span {
  right: -1rem;
  bottom: -1rem;
}

/********************
|| Hover Styles
*********************/
.menuBar li:hover {
  color: hsla(0, 0%, 0%, 1.0);
}

.menuBar li:hover span {
  left: 0;
  right: 0;
  bottom: 0.2rem;
  opacity: 1.0;
}

li:last-child:hover span {
  right: 0;
  bottom: 0.2rem;
}

.menuBar li:hover i {
  margin-top: 1.5rem;
  margin-bottom: .2rem;
}

.menuBar li:hover {
  background: var(--button-background-hover);
}

/********************
|| Utilities
*********************/
.noBullets {
  list-style-type: none;
}

.troubleshooting {
  outline: 1px solid red;
}
